:root {
    --primary-fonts: "Poppins", sans-serif;
    --secondry-fonts: "Merriweather Sans", sans-serif;
    --primary: #60b0f3;
    --text: #616261;
}

body {
    font-family: var(--primary-fonts);
}
.navbar-brand img{
    height: 45px;
    width: auto;
}
.nav-link{
    font-size: 16px;
    font-weight: 500;
}
.hero-text h1{
    font-size: 30px;
    font-weight: 600;
    color: black;
}
.hero-text span{
    font-size: 20px;
    font-weight: 500;
}
.services-title{
    font-size: 34px !important;
    font-weight: 400 !important;
    font-family: var(--secondry-fonts);
    color: var(--primary);
}
.hero-text{
    font-size: 18px;
    font-weight: 400;
    color: var(--text);
}
/* ===========================================why choose */
.text-primary{
    color: var(--primary) !important;
}
.text-dark{
    color: var(--text) !important;
}
.main-heading{
    font-size: 24px;
    font-weight: 500;
}
.text2{
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
}
.merg-card h3{
     font-size: 26px;
     font-weight: 500;
     color: var(--primary);
}
.merg-card h4{
    font-size: 18px;
    font-weight: 500;
}

.merg-card img{
    height: 150px;
}
.merg-card h5{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.text{
    color: var(--text);
    font-size: 14px;
}
.title{
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
}
.step-number{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    padding: 4px;
    font-size: 26px;
    font-weight: 600;
    color: var(--primary);
    top: -30px;
    left: calc(50% - 30px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}
.feature-table span{
    font-size: 12px;
}
.w-500{
    font-weight: 500 !important;
}
/* testmonial */
.testimonials{position: relative;background-repeat: no-repeat;background-size: cover;padding:50px 0;font-family:'Poppins', sans-serif}
.testimonials::before{content:'';position: absolute;right:0;left:0;top:0;bottom:0;}
.testimonials .title {text-align: center;margin-bottom: 50px;position: relative;padding: 20px 0;max-width: 600px;margin: 0 auto;}
.testimonials .title h5 {color: #EB6D2F;line-height: 1.2em;font-size: 18px;font-weight: 900;margin-bottom: -3px;}
.testimonials .title h2 {color: #5A3733;line-height: 1.2em;font-weight: 900;font-size: 41px;letter-spacing: -1px;margin:0}
.testimonials .title img {margin-top: -10px;}
.testimonials .title p {margin: 0 0 10px;margin-bottom: 0;color: #5A3733;}
.testimonials .testi .item {background: #fff;padding: 50px 30px;border-radius:15px;}
.testimonials .testi .item .profile {display:flex;padding-left: 15px;}
.testimonials .testi .item .profile img {border-radius: 100%;width:50px;height:50px;object-fit:cover}
.testimonials .testi .item .profile .information {padding-left:20px;margin-bottom:15px}
.testimonials .testi .item .profile .information .stars i {color:#ffd832}
.testimonials .testi .item .profile .information p {font-size: 24px;margin: 0px auto 0px;color: #5A3733;font-weight: 900;line-height: 1;}
.testimonials .testi .item .profile .information span {color: #EB6D2F;font-weight: bold;margin-top: -4px;line-height: 1.6em;font-size: 14px;}
.testimonials .testi .item>p {margin-bottom: 15px;font-size: 16px;line-height: 1.6em;display: block;z-index: 2;font-style: italic;color: #5A3733;text-align: center;}
.testimonials .testi .item .icon {text-align: center;}
.testimonials .testi .item .icon i {font-size: 32px;color: #FFD832;}
/* pricing */
.price-card h3{
   font-size: 24px;
   font-weight: 600;
}
.price-card h2{
    font-size: 60px;
    font-weight: 600;
 }
 .price-card h4{
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
 }
 .price-card h5{
    font-size: 18px;
    font-weight: 600;
    color: black;
 }


 

.navContainer li {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.menu-item{
    position: relative;
}

.sub-menu {
    pointer-events: none;
    left: 0;
    opacity: 0;
    padding: 2rem 1rem 1rem;
    position: absolute;
    text-align: left;
    top: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    width: auto;
    z-index: -1;
    display: block;
    opacity: 0;
}
.sub-menu li {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    white-space: nowrap;
    background-color: #39343a;
}

.sub-menu li+li {
    margin: 0.5rem 0 0 0;
}


.FixedHeader .navContainer ul.sub-menu {
    background-color: #39343a;
}

.menu-item:focus .sub-menu,
.menu-item:hover .sub-menu {
    opacity: 1;
    pointer-events: auto;
}

.menu-item:focus .sub-menu li,
.menu-item:hover .sub-menu li {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
