:root {
    --primary-fonts: "Poppins", sans-serif;
    --secondry-fonts: "Merriweather Sans", sans-serif;
    --primary: #60b0f3;
    --text: #616261;
}

body {
    font-family: var(--primary-fonts);
}

.navbar-brand img {
    height: 45px;
    width: auto;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
}

.hero-text h1 {
    font-size: 26px;
    font-weight: 600;
    color: var(--primary);
}

.hero-text span {
    font-size: 20px;
    font-weight: 500;
}

.services-title {
    font-size: 44px !important;
    line-height: 60px;
    font-weight: 400 !important;
    font-family: var(--secondry-fonts);
    color: black
}
.service-top-title{
    /* background-color: var(--primary); */
    width: fit-content;
    padding-left: 20px;
    padding-right: 10px;
    transform: skewX(-15deg)
 }
.services-title span {
    font-size: 48px !important;
    line-height: 60px;
    font-weight: 400 !important;
    font-family: var(--secondry-fonts);
    color: black !important;
}

.services-title .desc {
    font-size: 14px !important;
    color: black !important;
}

.hero-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
}

.nav-link {
    font-size: 18px !important;
}
.active-nav{
    color: var(--primary) !important;
}
/* ===========================================why choose */
.text-primary {
    color: var(--primary) !important;
}

.text-dark {
    color: var(--text) !important;
}

.main-heading {
    font-size: 24px;
    font-weight: 500;
}

.text2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--text);
}

.merg-card h3 {
    font-size: 26px;
    font-weight: 500;
    color: var(--primary);
}

.merg-card h4 {
    font-size: 18px;
    font-weight: 500;
}

.merg-card img {
    height: 150px;
}

.merg-card h5 {
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 50, 50);
}

.text {
    color: var(--text);
    font-size: 14px;
}

.title {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
}

.step-number {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    padding: 4px;
    font-size: 26px;
    font-weight: 600;
    color: var(--primary);
    top: -30px;
    left: calc(50% - 30px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-table span {
    font-size: 12px;
}

.w-500 {
    font-weight: 500 !important;
}

/* testmonial */
.testimonials {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    font-family: 'Poppins', sans-serif
}

.testimonials::before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.testimonials .title {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    padding: 20px 0;
    max-width: 600px;
    margin: 0 auto;
}

.testimonials .title h5 {
    color: #EB6D2F;
    line-height: 1.2em;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: -3px;
}

.testimonials .title h2 {
    color: #5A3733;
    line-height: 1.2em;
    font-weight: 900;
    font-size: 41px;
    letter-spacing: -1px;
    margin: 0
}

.testimonials .title img {
    margin-top: -10px;
}

.testimonials .title p {
    margin: 0 0 10px;
    margin-bottom: 0;
    color: #5A3733;
}

.testimonials .testi .item {
    background: #fff;
    padding: 50px 30px;
    border-radius: 15px;
}

.testimonials .testi .item .profile {
    display: flex;
    padding-left: 15px;
}

.testimonials .testi .item .profile img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover
}

.testimonials .testi .item .profile .information {
    padding-left: 20px;
    margin-bottom: 15px
}

.testimonials .testi .item .profile .information .stars i {
    color: #ffd832
}

.testimonials .testi .item .profile .information p {
    font-size: 24px;
    margin: 0px auto 0px;
    color: #5A3733;
    font-weight: 900;
    line-height: 1;
}

.testimonials .testi .item .profile .information span {
    color: #EB6D2F;
    font-weight: bold;
    margin-top: -4px;
    line-height: 1.6em;
    font-size: 14px;
}

.testimonials .testi .item>p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.6em;
    display: block;
    z-index: 2;
    font-style: italic;
    color: #5A3733;
    text-align: center;
}

.testimonials .testi .item .icon {
    text-align: center;
}

.testimonials .testi .item .icon i {
    font-size: 32px;
    color: #FFD832;
}

/* pricing */
.price-card h3 {
    font-size: 24px;
    font-weight: 600;
}

.price-card h2 {
    font-size: 60px;
    font-weight: 600;
}

.price-card h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}

.price-card h5 {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.cta-card {
    background: linear-gradient(rgba(0, 0, 0, 0.552), rgba(0, 0, 0, 0.552)), url(../images/—Pngtree—fluid\ gradient\ blue\ background_937249.jpg);
    padding: 40px 20px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

.cta-card h2 {
    font-size: 28px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.footer {
    margin-top: -100px;
}





.banner-video {
    position: relative;
    max-width: 100%;
    margin: 34px auto 0;
}

.banner-video img {
    margin: 0 auto 10px;
}

.banner-video-b {
    position: absolute;
    top: 1%;
    left: 20%;
    right: 10px;
    max-width: 60%;
    height: auto;
    z-index: 1;
    height: 81%;
    bottom: 0;
    /* width: 100%; */
}



.dropdownMenu-link {
    position: relative;
    cursor: pointer;
}

.dropdownMenu {
    /* opacity: 0; */
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 20px 20px;
    transition: all .5;
    border-radius: 20px;
}
.dropdownMenu2 {
    padding: 15px;
}
.nav-item:hover .dropdownMenu {
    display: block;
    top: 40px;
    /* opacity: 1; */
   
}

.arrow-icon {
    transition: all .5s ease-out;
}

.nav-item:hover .arrow-icon {

    transform: rotate(180deg);
}

.dropdown-item i {
    font-size: 24px;
    color: var(--primary);
}

.dropdown-item h2 {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.text-sm {
    font-size: 14px;
    font-weight: 400;
    color: var(--text);
}

.dropdown-item:hover {
    background-color: #F8F9FA;
}

.dropdown-item {
    padding: 7px;
    border-radius: 6px;
}

.nav-icon {
    width: 26px;
}
.nav-icon2{
    width: 22px;
   text-align: left;
}
.nav-icon2 i{
    font-size: 20px
}
.partner-img{
    height: 50px;
    width: auto;
    object-fit: contain;
}
.partner .item{
    width: 200px;
    padding:20px 15px;
    /* background-color: #F5F6F7; */
    background-color: white;
    border-radius: 4px;
}
/* =============================================tabs */

/* Style the tab */
.tab {
    overflow: hidden;
    background-color:#F8F9FA;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    color:black;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: var(--primary);
    color: white;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--primary);
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
.faq-card{
    padding:40px 30px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.faq-img{
    height: 200px;
    width: auto;
}
.faq-card h3{
    font-size: 20px;
    font-weight: 500;
}
.faq-card p{
    font-size: 14px;
}
  .faq-list {
    padding: 0 100px;
  }
  
  .faq-list ul {
    padding: 0;
    list-style: none;
  }
  
  .faq-list li+li {
    margin-top: 15px;
  }
  
  .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
  }
  
  .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary);
  }
  
  .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: var(--primary);
  }
  
  .faq-list .icon-show,
  .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
    font-size: 14px;
    padding: 10px 20px 0px 20px;
  }
  
  .faq-list .icon-show {
    display: none;
  }
  
  .faq-list a.collapsed {
    color: black;
    transition: 0.3s;
  }
  
  .faq-list a.collapsed:hover {
    color: var(--primary) !important;
  }
  
  .faq-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .faq-list a.collapsed .icon-close {
    display: none;
  }
 
.play-icon {
    position: absolute;
    height: 60px;
    width: 60px;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: var(--secondary);
    animation: ripple 1.5s linear infinite;
    transition: all 0.7s ease;
}
.btn-close{
    background-image: none !important;
    color: white !important;
    font-size: 35px;
    position: absolute;
    top: -30px;
    right: -30px;
    opacity: 1;
    
 }
 /* ==================================================demo */
 .demo-card {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
 }
 .demo-video-image{
    height: 200px;
 }
 .demo-video-image img{
    object-fit: cover;
    width: 100%;
    height: 200px;
 }
 .issue-date{
    font-size: 14px;
    color: gray;
 }
 .demo-heading{
    font-size: 18px;font-weight: 500;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 44px;
 }
 .demo-text{
    font-size: 14px;
    font-weight: 400;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* height: 85px; */
 }
 .demo-btn{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
 }
 .demo-btn:hover{
    color: var(--text);
 }

 /* .services-title{
    background-color: var(--primary);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    transform: skewX(4deg); 

 } */
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.3), /* Ripple start */
                  0 0 0 1px rgba(0, 123, 255, 0.3),
                  0 0 0 3px rgba(0, 123, 255, 0.3),
                  0 0 0 5px rgba(0, 123, 255, 0.3);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.3), /* Ripple end */
                  0 0 0 4px rgba(0, 123, 255, 0.3),
                  0 0 0 20px rgba(0, 123, 255, 0),
                  0 0 0 30px rgba(0, 123, 255, 0);
    }
}
.about-icon{
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-right: 10px;
}
  
  @media (max-width: 1200px) {
    .faq-list {
      padding: 0;
    }
  }

  @media only screen and (max-width:1200px){
    
    .navbar-nav {
        text-align: center;
    }
  }
@media only screen and (max-width:991px) {
    .btn-close{
     
        top: -20px;
        right: 0px;
        
     }
    .services-title {
        font-size: 32px !important;
        line-height: 36px;
    }

    .services-title span {
        font-size: 26px !important;
        line-height: 36px;
    }

    .dropdownMenu {
        display: none;
        position: relative;
        margin-top: -40px;
    }

    .nav-item:hover .dropdownMenu {
        display: block;
        position: relative;
    }

    .dropdownMenu {
        padding: 20px 15px;
    }

    .navbar-nav {
        width: 100% !important;
    }
}


@media only screen and (max-width:767px) {
    .tab {
        background-color:transparent;
        flex-direction: column;
      }
      
      /* Style the buttons inside the tab */
      .tab button {
        background-color:#F8F9FA;
        margin-bottom: 10px
      }
    th{
        font-size: 14px;
        padding: 7px 3px;
        font-weight: 500;
    }
    td{
       font-size: 12px;
       padding: 5px 3px;
    }
    .demo-video-image{
        height: auto;
     }
     .demo-video-image img{
        object-fit: cover;
        width: 100%;
        height: auto;
     }
    .faq-card h3{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }
    .faq-card p{
        font-size: 14px;
        text-align: center;
    }
    .feature-table {
        min-width: 800;
    }

    .table-wrapper {
        overflow-x: auto;
    }

    .services-title {
        font-size: 24px !important;
    }
    .hero-text h1 {
        font-size: 18px;
    }
    

    .merg-card h3 {
        font-size: 22px;
    }

    .hero-text span {
        font-size: 18px;
    }

    .main-heading {
        font-size: 22px;
    }

    .price-card h3 {
        font-size: 22px;
    }

    .price-card h2 {
        font-size: 50px;
    }

    .price-card h4 {
        font-size: 16px;
    }

    .price-card h5 {
        font-size: 16px;
    }

    .cta-card {
        padding: 30px 15px;
    }

    .cta-card h2 {
        font-size: 22px;
    }













    /* testmonial */
    .testimonials {
        padding: 20px 0;
    }


    .testimonials .testi .item {
        background: #fff;
        padding: 30px 15px;
        border-radius: 15px;
    }

    .testimonials .testi .item .profile {
        display: flex;
        padding-left: 10px;
    }


    .testimonials .testi .item .profile .information {
        padding-left: 10px;
        margin-bottom: 15px
    }



    .testimonials .testi .item .profile .information p {
        font-size: 18px;
    }

    .testimonials .testi .item>p {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .testimonials .testi .item .icon i {
        font-size: 26px;
        color: #FFD832;
    }
}
@media only screen and (max-width:560px){
    .partner .item{
        width: 100%;
    }
     
  .faq-list .icon-show,
  .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 14px;
  }
}